<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RouteDetailsActivity"></activity>
        <activity android:name=".RouteListActivity" />
        <activity android:name=".AddRouteActivity" />
        <activity android:name=".DriverUserInfoActivity" />
        <activity android:name=".MainUserInfoActivity" />
        <activity android:name=".ManageUserListActivity" />
        <activity android:name=".ManageRouteActivity" />
        <activity android:name=".ViewFeedback" />
        <activity android:name=".GenerateReport" />
        <activity android:name=".ManageUser" />
        <activity android:name=".ManageProfile" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>